// _forms.scss

.form-control {
    padding: 0.5rem;
    border: 1px solid $secondary-color;
    border-radius: 0.25rem;
    width: 100%;
    box-sizing: border-box;
  
    &:focus {
      border-color: lighten($primary-color, 20%);
      outline: none;
    }
  }