header {
    a, .nav-link {
        color: $text-color;

        &:hover {
            text-decoration: none;
            color: darken($primary-color, 10%);
        }

        &.active, link.active {
            color: $primary-color !important;
        }
    }
}